[package]
name = "ioqp"
version = "0.1.0"
authors = ["Joel Mackenzie <joel.m.mackenzie@gmail.com>"]
edition = "2018"
build = "build.rs"

# See more keys and their definitions at https://doc.rust-lang.org/cargo/reference/manifest.html

[dependencies]

[build-dependencies]
protobuf-codegen-pure = "2.14"
